@charset "UTF-8";
/* --------------------------------------------------------
foundation
-------------------------------------------------------- */
/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type='search'] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type='button'],
[type='reset'],
[type='submit'],
[role='button'] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Specify the progress cursor of updating elements */
[aria-busy='true'] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled='true'] {
  cursor: default;
}

html, body {
  position: relative;
  min-height: 100%;
}

h2 {
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 5.20835vw;
}

@media screen and (max-width: 834px) {
  h2 {
    margin-bottom: 1.5625vw;
  }
}

h3 {
  position: relative;
  display: block;
  font-size: 1.75rem;
  margin-bottom: 1.5625vw;
}

@media screen and (max-width: 834px) {
  h3 {
    margin-bottom: 3.59712vw;
  }
}

@media screen and (max-width: 390px) {
  h3 {
    margin-bottom: 7.6923vw;
  }
}

h3::before {
  display: block;
  content: "";
  position: relative;
  top: 42px;
  width: 22.969%;
  border-bottom: 4px solid #38572B;
}

h3::after {
  display: block;
  content: "";
  position: absolute;
  top: 42px;
  left: 22.969%;
  width: 77.031%;
  border-bottom: 4px solid #D5DABC;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* --------------------------------------------------------
layout
-------------------------------------------------------- */
.l-body {
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%;
  color: #4A4A4A;
}

.l-body__content-area {
  padding: 0 12.5vw;
}

@media screen and (max-width: 390px) {
  .l-body__content-area {
    padding: 0 5.1282vw;
  }
}

.l-body__fade-layer.active {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: visible;
}

/* --------------------------------------------------------
project
-------------------------------------------------------- */
/*トップページ*/
.admin-bar .p-header {
  margin-top: 32px !important;
}

@media screen and (max-width: 834px) {
  .admin-bar .p-header {
    margin-top: 46px !important;
  }
}

.p-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 10px 12.5459% 0;
  height: 150px;
  width: 100%;
}

@media screen and (max-width: 834px) {
  .p-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 20px 0 20px;
    height: 80px;
  }
}

.p-header__logo img {
  width: 225px;
}

@media screen and (max-width: 834px) {
  .p-header__logo img {
    width: 120px;
  }
}

.p-header__nav {
  margin-left: auto;
}

@media screen and (max-width: 834px) {
  .p-header__nav {
    display: none;
    margin-left: 0;
  }
}

.p-header__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 140px;
}

@media screen and (max-width: 834px) {
  .p-header__nav > ul {
    display: block;
    list-style: none;
    position: absolute;
    top: 80px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }
}

.p-header__nav li > a {
  display: inline;
  padding: 0;
  margin: 0 2.604165vw 0 0;
  height: 100%;
  width: 100%;
  color: #4A4A4A;
  text-decoration: none;
  font-size: 1.5rem;
}

@media screen and (max-width: 834px) {
  .p-header__nav li > a {
    display: block;
    background-color: #fff;
    padding: 19px 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 834px) {
  .p-header__nav li:nth-of-type(1) > a {
    padding: 49px 0 19px 0;
    margin: 0 auto;
  }
}

@media screen and (max-width: 834px) {
  .p-header__nav li > a:hover {
    background-color: #F7F8DA;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
}

@media screen and (max-width: 834px) and (max-width: 834px) {
  .p-header__menu-button {
    position: relative;
    margin-top: -26px;
    width: 50px;
    height: 30px;
    cursor: pointer;
  }
  .p-header__menu-button span {
    position: absolute;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: #4A4A4A;
    border-radius: 4px;
  }
  .p-header__menu-button, .p-header__menu-button span {
    display: inline-block;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .p-header__menu-button, .p-header__menu-button > span:nth-of-type(1) {
    top: 0;
  }
  .p-header__menu-button, .p-header__menu-button > span:nth-of-type(2) {
    top: 13px;
  }
  .p-header__menu-button, .p-header__menu-button > span:nth-of-type(3) {
    bottom: 0;
  }
  #btn01.active {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  #btn01.active span:nth-of-type(1) {
    -webkit-transform: translateY(13px) rotate(-45deg);
    transform: translateY(13px) rotate(-45deg);
  }
  #btn01.active span:nth-of-type(2) {
    -webkit-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
  }
  #btn01.active span:nth-of-type(3) {
    opacity: 0;
  }
}

.p-main-visual {
  position: relative;
  margin-top: 150px;
}

@media screen and (max-width: 390px) {
  .p-main-visual {
    margin-top: 80px;
  }
}

.p-main-visual > img {
  position: absolute;
  height: 33.85417vw;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 834px) {
  .p-main-visual > img {
    height: 22.1823vw;
  }
}

@media screen and (max-width: 390px) {
  .p-main-visual > img {
    height: 47.4359vw;
  }
}

.p-main-visual > p {
  position: absolute;
  top: 15vw;
  width: 100%;
  font-size: 2.604164vw;
  text-align: center;
}

@media screen and (max-width: 834px) {
  .p-main-visual > p {
    top: 13vw;
    font-size: 4.79616vw;
  }
}

@media screen and (max-width: 390px) {
  .p-main-visual > p {
    top: 30vw;
    font-size: 7.6923vw;
  }
}

.p-main-visual::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 33.85417vw;
  width: 100%;
}

@media screen and (max-width: 834px) {
  .p-main-visual::after {
    height: 22.1823vw;
  }
}

@media screen and (max-width: 390px) {
  .p-main-visual::after {
    height: 47.4359vw;
  }
}

.p-main-visual__catchcopy {
  text-align: center;
}

.p-main-visual__catchcopy > p:nth-child(1) {
  padding: 5.20835vw 0 0 0;
  font-size: 1.625rem;
}

@media screen and (max-width: 834px) {
  .p-main-visual__catchcopy > p:nth-child(1) {
    padding: 5.9952vw 0 0 0;
  }
}

@media screen and (max-width: 390px) {
  .p-main-visual__catchcopy > p:nth-child(1) {
    font-size: 1.25rem;
    padding: 12.82051vw 0 0 0;
  }
}

.p-main-visual__catchcopy > p:nth-child(2) {
  padding: 1.5625vw 0 5.20835vw 0;
  font-size: 1rem;
}

@media screen and (max-width: 834px) {
  .p-main-visual__catchcopy > p:nth-child(2) {
    padding: 3.59712vw 0 5.9952vw 0;
  }
}

@media screen and (max-width: 390px) {
  .p-main-visual__catchcopy > p:nth-child(2) {
    padding: 7.6923vw 0 12.8205vw 0;
  }
}

.p-service {
  padding: 5.20834vw 12.5vw;
  margin-bottom: 100px;
  text-align: center;
  background-color: #F7F8DA;
}

@media screen and (max-width: 834px) {
  .p-service {
    padding: 30px 0 50px 0;
  }
}

.p-service__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 60%;
}

.p-service__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  padding: 0 7.6763%;
}

@media screen and (max-width: 834px) {
  .p-service__item-wrapper {
    display: block;
    padding: 0;
  }
}

.p-service__item-block > p:nth-of-type(1) {
  max-width: 300px;
  padding: 6.282% 0 0 0;
  margin: 0 auto;
  font-size: 1.25rem;
}

@media screen and (max-width: 834px) {
  .p-service__item-block > p:nth-of-type(1) {
    padding: 9.01% 18.23845%  0 18.23845%;
    max-width: 100%;
  }
}

@media screen and (max-width: 390px) {
  .p-service__item-block > p:nth-of-type(1) {
    padding: 9.01% 20px 0 20px;
  }
}

.p-service__item-block > p:nth-of-type(2) {
  max-width: 300px;
  font-size: 1rem;
  padding: 3.1413% 0 0 0;
}

@media screen and (max-width: 834px) {
  .p-service__item-block > p:nth-of-type(2) {
    max-width: 100%;
    padding: 4.507% 18.23845% 6.1208% 18.23845%;
  }
}

@media screen and (max-width: 390px) {
  .p-service__item-block > p:nth-of-type(2) {
    padding: 4.507% 20px 15.018% 20px;
  }
}

.p-service__item-block__spacer {
  position: relative;
  height: 15.625vw;
  width: 15.625vw;
  margin: 0 auto;
  border: 1px solid #4A4A4A;
  border-radius: 50%;
}

@media screen and (max-width: 834px) {
  .p-service__item-block__spacer {
    height: 35.9728vw;
    width: 35.9728vw;
  }
}

@media screen and (max-width: 390px) {
  .p-service__item-block__spacer {
    height: 77.121vw;
    width: 77.121vw;
  }
}

.p-works__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 13.663% 100px 13.663%;
}

@media screen and (max-width: 834px) {
  .p-works__grid {
    margin: 0 0 100px 0;
  }
}

.p-works__grid img {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0.520835vw;
  height: 250px;
  width: 100%;
}

@media screen and (max-width: 834px) {
  .p-works__grid img {
    padding: 0;
    height: 100%;
  }
}

.slick-prev:before, .slick-next:before {
  color: #333B3A;
  font-size: 40px;
}

.slick-prev {
  left: -50px;
  z-index: 100;
}

.slick-next {
  right: -30px;
}

.p-news {
  padding: 0 12.5vw;
  margin-top: 200px;
}

@media screen and (max-width: 834px) {
  .p-news {
    padding: 0;
    margin-top: 0;
  }
}

.p-news a {
  color: #4A4A4A;
  text-decoration: none;
}

.p-news > ul {
  margin-bottom: 100px;
}

@media screen and (max-width: 834px) {
  .p-news > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-news li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5.78125vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 834px) {
  .p-news li {
    display: block;
    height: 100%;
  }
}

.p-news li:nth-of-type(odd) {
  background-color: #F7F8DA;
}

@media screen and (max-width: 834px) {
  .p-news li p {
    height: 6.65552vw;
  }
}

@media screen and (max-width: 390px) {
  .p-news li p {
    height: 14.230769vw;
  }
}

.p-news li p:nth-of-type(1) {
  padding: 0 0 0 2.65625vw;
  font-size: 0.9375vw;
  font-weight: bold;
}

@media screen and (max-width: 834px) {
  .p-news li p:nth-of-type(1) {
    padding: 2.9976vw 5.1282vw 0 5.1282vw;
    font-size: 2.15827vw;
  }
}

@media screen and (max-width: 390px) {
  .p-news li p:nth-of-type(1) {
    padding: 6.410256vw 5.1282vw;
    font-size: 4.61538vw;
  }
}

.p-news li p:nth-of-type(2) {
  padding: 0 2.604166vw;
  font-size: 0.833333vw;
  overflow: auto;
}

@media screen and (max-width: 834px) {
  .p-news li p:nth-of-type(2) {
    padding: 0 5.1282vw 0 5.1282vw;
    font-size: 1.918465vw;
  }
}

@media screen and (max-width: 390px) {
  .p-news li p:nth-of-type(2) {
    padding: 0 5.1282vw;
    font-size: 3.589743vw;
  }
}

.p-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  margin-top: 130px;
  background-color: #333B3A;
}

.p-footer > p {
  font-size: 1rem;
  color: #fff;
}

/*author*/
.p-profile {
  margin: 200px 5.20834vw 0 5.20834vw;
  min-height: 540px;
}

@media screen and (max-width: 834px) {
  .p-profile {
    margin-top: 120px;
  }
}

.p-profile__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 834px) {
  .p-profile__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4.79616vw;
  }
}

.p-profile img {
  height: 100%;
  width: 100%;
  max-height: 26.0417vw;
  max-width: 26.0417vw;
  border-radius: 50%;
}

@media screen and (max-width: 834px) {
  .p-profile img {
    max-height: 59.9524vw;
    max-width: 59.9524vw;
  }
}

@media screen and (max-width: 390px) {
  .p-profile img {
    max-height: 100vw;
    max-width: 100vw;
  }
}

.p-profile__content-block {
  width: 44.7917vw;
}

@media screen and (max-width: 834px) {
  .p-profile__content-block {
    width: 100%;
  }
}

.p-profile p {
  font-size: 1.125rem;
  max-height: 26.0417vw;
  overflow: auto;
}

@media screen and (max-width: 834px) {
  .p-profile p {
    font-size: 1rem;
    max-height: 100%;
  }
}

@media screen and (max-width: 390px) {
  .p-profile p {
    font-size: 0.875rem;
  }
}

/*single*/
.p-single {
  margin: 200px 5.20834vw 0 5.20834vw;
  min-height: 540px;
}

@media screen and (max-width: 834px) {
  .p-single {
    margin-top: 120px;
  }
}

.p-single h3 {
  font-size: 1.458333vw;
  margin: 0 0 1.5625vw 0;
  min-height: 46px;
}

@media screen and (max-width: 834px) {
  .p-single h3 {
    font-size: 3.357314vw;
    margin: 1.9157vw 0 2.39808vw 0;
    min-height: 42px;
  }
}

@media screen and (max-width: 390px) {
  .p-single h3 {
    font-size: 4.102564vw;
    margin: 1.28205vw 0 5.1282vw 0;
  }
}

.p-single__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 834px) {
  .p-single__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 4.79616vw;
  }
}

.p-single img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  max-height: 20.834vw;
  max-width: 41.667vw;
  margin: auto 0;
}

@media screen and (max-width: 834px) {
  .p-single img {
    max-height: 100vw;
    max-width: 100vw;
  }
}

.p-single__content-block {
  width: 44.7917vw;
}

@media screen and (max-width: 834px) {
  .p-single__content-block {
    width: 100%;
  }
}

.p-single p {
  font-size: 1.125rem;
  max-height: 26.0417vw;
  overflow: auto;
}

@media screen and (max-width: 834px) {
  .p-single p {
    font-size: 1rem;
    max-height: 100%;
  }
}

@media screen and (max-width: 390px) {
  .p-single p {
    font-size: 0.875rem;
  }
}

/*archive*/
.p-archive {
  margin: 200px 8.270833vw 0 8.270833vw;
}

@media screen and (max-width: 834px) {
  .p-archive {
    margin: 120px 1vw 0 1vw;
  }
}

@media screen and (max-width: 390px) {
  .p-archive {
    margin: 120px 2.564102vw 0 2.564102vw;
  }
}

.p-archive__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-archive__grid li {
  list-style: none;
  padding: 1.302083vw;
  width: calc(100% / 3);
}

@media screen and (max-width: 834px) {
  .p-archive__grid li {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 390px) {
  .p-archive__grid li {
    width: 100%;
  }
}

.p-archive__grid li img {
  width: 100%;
}

/*contact*/
.p-contact__button {
  margin: 200px 5.20834vw 0 5.20834vw;
  min-height: 540px;
}

@media screen and (max-width: 834px) {
  .p-contact__button {
    margin-top: 120px;
  }
}

.p-contact__area {
  margin: 200px 5.20834vw 0 5.20834vw;
  min-height: 540px;
  font-size: 1.25rem;
  text-align: center;
}

@media screen and (max-width: 834px) {
  .p-contact__area {
    margin-top: 120px;
  }
}

.p-contact__cf7-wrapper {
  width: 50vw;
  margin: 0 auto;
  text-align: left;
}

.p-contact__cf7-wrapper dd {
  border: 1px solid #4A4A4A;
}

.p-contact__cf7-wrapper dd input, .p-contact__cf7-wrapper dd textarea {
  width: 100%;
}

.p-contact__cf7-wrapper dt {
  margin-top: 1vw;
}

.p-contact__cf7-submit > input {
  display: block;
  padding: 1.822915vw 5.989583vw;
  width: 50vw;
  margin: 30px auto 0 auto;
  background-color: #38572B;
  border-radius: 10px;
  color: #fff;
}

@media screen and (max-width: 834px) {
  .p-contact__cf7-submit > input {
    width: 100%;
    padding: 3.59712vw;
  }
}

@media screen and (max-width: 390px) {
  .p-contact__cf7-submit > input {
    padding: 8.20512vw;
  }
}

.p-contact__cf7-submit > input > a {
  color: #fff;
  font-size: 0.9375vw;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 834px) {
  .p-contact__cf7-submit > input > a {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 390px) {
  .p-contact__cf7-submit > input > a {
    font-size: 3.07692vw;
  }
}

/* --------------------------------------------------------
component
-------------------------------------------------------- */
.c-button__contact {
  display: block;
  padding: 1.822915vw 5.989583vw;
  width: 50vw;
  margin: 0 auto;
  background-color: #38572B;
  border-radius: 10px;
}

@media screen and (max-width: 834px) {
  .c-button__contact {
    width: 100%;
    padding: 3.59712vw;
  }
}

@media screen and (max-width: 390px) {
  .c-button__contact {
    padding: 8.20512vw;
  }
}

.c-button__contact > a {
  color: #fff;
  font-size: 0.9375vw;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 834px) {
  .c-button__contact > a {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 390px) {
  .c-button__contact > a {
    font-size: 3.07692vw;
  }
}
/*# sourceMappingURL=style.css.map */