.p-archive {
  margin: 200px 8.270833vw 0 8.270833vw;
  @include tablet {
    margin: 120px 1vw 0 1vw;
  }
  @include smart-phone {
    margin: 120px 2.564102vw 0 2.564102vw;
  }
}
.p-archive__grid {
  display: flex;
  flex-wrap: wrap;
  & li {
    list-style: none;
    padding: 1.302083vw;
    width: calc(100% / 3);
    @include tablet {
      width: calc(100% / 2);
    }
    @include smart-phone {
      width: 100%;
    }
    & img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}