//アドミンバー対策
//余白
.admin-bar .p-header {
  margin-top: 32px;
  @include admin-bar-point {
    margin-top: 46px;
  }
  @include smart-phone {
    margin-top: 0;
  }
}
//600pxズレ解消(600以下は削除する)
@media screen and (max-width: 600px) {
  #wpadminbar {
    display: none;
  }
  .admin-bar .p-header {
    margin-top: 0;
  }
}
//end_アドミンバー対策

.p-header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  align-items: center;
  background-color: $white;
  padding: 10px 12.5459% 0;
  height: 150px;
  width: 100%;
  @include tablet {
    justify-content: space-between;
    padding: 10px 20px 0 20px;
    height: 80px;
  }

  &__logo img {
    width: 225px;
    transform: scale(0.8);
    transition: 1s;
    @include tablet {
      width: 120px;
    }
    &:hover {
      transform: scale(1);
      transition: 1s;
    }
  }
}


.p-header__nav {
  margin-left: auto;
  @include tablet {
    display: none;
    margin-left: 0;
  }
  & > ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    height: 140px;
    @include tablet {
      display: block;
      list-style: none;
      position: absolute;
      top: 80px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      text-align: center;
    }
  }
  & li > a {
    position: relative;
    display: inline;
    padding: 0;
    margin: 0 2.604165vw 0 0;
    height: 100%;
    width: 100%;
    color: $gray;
    text-decoration: none;
    font-size: 1.5rem;
    @include tablet {
      display: block;
      background-color: $white;
      padding: 19px 0;
      margin: 0 auto;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      height: 2px;
      width: 100%;
      background: $gray;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s;
    }
    &:hover::after {
      bottom: -4px;
      opacity: 1;
      visibility: visible;
    }
  }
  & li:nth-of-type(1) > a {
      @include tablet {
      padding: 49px 0 19px 0;
      margin: 0 auto;
    }
  }
  & li > a:hover {
    @include tablet {
      background-color: $yellow;
      transition: all .7s;
    }
  }
}

//ハンバーガーボタン
@include tablet {
  @include hamberger-menu;
}