.p-main-visual {
  position: relative;
  margin-top: 150px; //ヘッダー分 余白
  @include smart-phone {
    margin-top: 80px; //ヘッダー分 余白
  }
  & > img {
    position: absolute;
    height: 33.85417vw;
    width: 100%;
    object-fit: cover;
    @include tablet {
      height: 22.1823vw;
    }
    @include smart-phone {
      height: 47.4359vw;
    }
  }
  & > p {
    position: absolute;
    top: 15vw;
    width: 100%;
    font-size: 2.604164vw;
    text-align: center;
    @include tablet {
      top: 13vw;
      font-size: 4.79616vw;
    }
    @include smart-phone {
      top: 30vw;
      font-size: 7.6923vw;
    }
  }
  //余白
  &::after {
    display: block;
    content: "";
    background-color: $white;
    height: 33.85417vw;
    width: 100%;
    @include tablet {
      height: 22.1823vw;
    }
    @include smart-phone {
      height: 47.4359vw;
    }
  }
}

.p-main-visual__catchcopy {
  text-align: center;
  & > p:nth-child(1) {
    padding: 5.20835vw 0 0 0;
    font-size: 1.625rem;
    @include tablet {
      padding: 5.9952vw 0 0 0;
    }
    @include smart-phone {
      font-size: 1.25rem;
      padding: 12.82051vw 0 0 0;
    }
  }
  & > p:nth-child(2) {
    padding: 1.5625vw 0 5.20835vw 0;
    font-size: 1rem;
    @include tablet {
      padding: 3.59712vw 0 5.9952vw 0;
    }
    @include smart-phone {
      padding: 7.6923vw 0 12.8205vw 0;
    }
  }
}