.p-main-visual {
  position: relative;
  margin-top: 150px;  //ヘッダー分の余白
  margin-bottom: 5.20835vw;
  @include tablet {
    margin-top: 80px; //ヘッダー分の余白
    margin-bottom: 5.9952vw;
  }
  //img分の余白
  &::after {
    display: block;
    content: "";
    background-color: $white;
    height: 33.85417vw;
    width: 100%;
    @include tablet {
      height: 22.1823vw;
      min-height: 185px;
    }
    @include smart-phone {
      height: 47.4359vw;
    }
  }
  & > img {
    position: absolute;
    height: 33.85417vw;
    min-height: 185px;
    width: 100%;
    object-fit: cover;
    @include tablet {
      height: 22.1823vw;
    }
    @include smart-phone {
      height: 47.4359vw;
    }
  }
  & > p {
    position: absolute;
    top: 15vw;
    width: 100%;
    font-size: 2.604164vw;
    text-align: center;
    @include tablet {
      top: 13vw;
      font-size: 4.79616vw;
    }
    @include smart-phone {
      top: 30vw;
      font-size: 7.6923vw;
    }
  }
}

.p-main-visual__catchcopy {
  text-align: center;
  margin-bottom: 5.20835vw;
  & > p:nth-child(1) {
    margin: 0 0 2.604166vw 0;
    font-size: 1.625rem;
    line-height: 1.75rem;
    font-weight: bold;
    @include tablet {
      margin: 0 0 3.597122vw 0;
      font-size: 1.25rem;
      line-height: 1.375rem;
    }
    @include smart-phone {
      margin: 12.82051vw 0 12.8205vw 0;
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
  }
  & p {
    padding: 0;
    font-size: 1.125rem;
    line-height: 1.25rem;
    @include tablet {
      padding: 0;
      font-size: 0.9375rem;
      line-height: 1.0625rem;
    }
    @include smart-phone {
      padding: 7.6923vw 0 0 0;
    }
  }
}