.p-news {
  padding: 0 12.5vw;
  margin-top: 200px;
  @include tablet {
    padding: 0;
    margin-top: 150px;
  }
  & a {
    display: flex;
    align-items: center;
    height: 100%;
    color: $gray;
    text-decoration: none;
    
    &:hover {
      color: $light-green;
      transition: all 0.7s;
      // 流れるテロップ
      // animation: scrollNews 2s linear infinite;
      // @keyframes scrollNews {
      //   0% {transform: translateX(0)}
      //   100% {transform: translateX(-100%);}
      // }
      // 流れるテロップここまで
    }
  }
  & ul {
    margin-bottom: 100px;
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }
  & li {
    display: flex;
    height: 5.78125vw;
    align-items: center;
    @include tablet {
      display: block;
      height: 100%;
    }
  }
  & li:nth-of-type(odd) {
    background-color: $yellow;
  }
  & li p {
    @include tablet {
      height: 6.65552vw;
    }
    @include smart-phone {
      height: 14.230769vw;
    }
  }
  & li p:nth-of-type(1) {
    padding: 0 0 0 2.65625vw;
    font-size: 1.125rem;
    font-weight: bold;
    width: 15%;
    @include tablet {
      padding: 2.9976vw 5.1282vw 0 5.1282vw;
      font-size: 2.15827vw;
    }
    @include smart-phone {
      padding: 6.410256vw 5.1282vw;
      font-size: 4.61538vw;
    }
  }
  & li p:nth-of-type(2) {
    display: flex;
    height: 100%;
    width: 85%;
    margin: 0 2.604166vw;
    font-size: 1rem;
    overflow: auto;
    @include tablet {
      width: auto;
      display: inline-block;
      margin: 0 0 2.9976vw 5.1282vw;
      font-size: 1.918465vw;
    }
    @include smart-phone {
      margin: 0 5.1282vw;
      font-size: 3.589743vw;
    }
  }
}