.p-news {
  padding: 0 12.612%;
  margin-top: 200px;
  @include tablet {
    padding: 0;
    margin-top: 0;
  }
  & > ul {
    margin-bottom: 100px;
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }
  & li {
    display: flex;
    height: 5.78125vw;
    align-items: center;
    @include tablet {
      display: block;
      height: 100%;
    }
  }
  & li:nth-of-type(odd) {
    background-color: $yellow;
  }
  & li p {
    @include tablet {
      height: 6.65552vw;
    }
    @include smart-phone {
      height: 14.230769vw;
    }
  }
  & li p:nth-of-type(1) {
    padding: 0 0 0 4.6176%;
    font-size: 1.125rem;
    font-weight: bold;
    @include tablet {
      padding: 3.06073% 20px 0 20px;
      font-size: 2.15827vw;
    }
    @include smart-phone {
      padding: 5% 20px 0 20px;
      font-size: 4.61538vw;
    }
  }
  & li p:nth-of-type(2) {
    padding: 0 0 0 4.6176%;
    font-size: 0.937988vw;
    overflow: hidden;
    @include tablet {
      padding: 0 20px 0 20px;
      font-size: 2.15827vw;
    }
    @include smart-phone {
      padding: 0 20px 0 20px;
      font-size: 4.10256vw;
    }
  }
}