.p-news {
  padding: 0 12.5vw;
  margin-top: 200px;
  @include tablet {
    padding: 0;
    margin-top: 0;
  }
  & a {
    color: $gray;
    text-decoration: none;
    //ホバー時
    &:hover {
      font-weight: bold;
      color: $white;
      transition: all 0.7s;
      background-color: rgba(0,0,0,0.5);
    }
  }
  & > ul {
    margin-bottom: 100px;
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }
  & li {
    display: flex;
    height: 5.78125vw;
    align-items: center;
    @include tablet {
      display: block;
      height: 100%;
    }
  }
  & li:nth-of-type(odd) {
    background-color: $yellow;
  }
  & li p {
    @include tablet {
      height: 6.65552vw;
    }
    @include smart-phone {
      height: 14.230769vw;
    }
  }
  & li p:nth-of-type(1) {
    padding: 0 0 0 2.65625vw;
    font-size: 1.125rem;
    font-weight: bold;
    @include tablet {
      padding: 2.9976vw 5.1282vw 0 5.1282vw;
      font-size: 2.15827vw;
    }
    @include smart-phone {
      padding: 6.410256vw 5.1282vw;
      font-size: 4.61538vw;
    }
  }
  & li p:nth-of-type(2) {
    margin: 0 2.604166vw;
    font-size: 1rem;
    overflow: auto;
    @include tablet {
      display: inline-block;
      margin: 0 0 2.9976vw 5.1282vw;
      font-size: 1.918465vw;
    }
    @include smart-phone {
      margin: 0 5.1282vw;
      font-size: 3.589743vw;
    }
  }
}