.p-works__grid {
  display: flex;
  justify-content: space-around;
  margin: 0 13.663% 100px 13.663%;
  @include tablet {
    margin: 0 0 100px 0;
  }
  & img {
    object-fit: cover;
    padding: 0.520835vw;
    height: 13.020833vw;
    width: 100%;
    @include tablet {
      padding: 0;
      height: 100%;
    }
  }
  //タイトルがふわっと出現用
  & li {
    position: relative;
    &:hover {
      transition: all 0.7s;
      transform: scale(1.05);
    }
  }
}

//スリック矢印
.slick-prev:before, .slick-next:before {
  color: $dark-blue;
  font-size: 40px;
}
.slick-prev {
  left: -50px;
  z-index: 100;
}
.slick-next {
  right: -30px;
}
//スリック矢印ここまで