.p-works__grid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  padding: 0 13.663%;
  @include tablet {
    padding: 0;
  }
  & img {
    object-fit: cover;
    padding: 2.162%;
    height: 250px;
    width: 100%;
    @include tablet {
      padding: 0;
      height: auto;
    }
  }
}