.p-works__grid {
  display: flex;
  justify-content: space-between;
  margin: 0 13.663% 100px 13.663%;
  @include tablet {
    margin: 0 0 100px 0;
  }
  & img {
    object-fit: cover;
    padding: 2.162%;
    height: 250px;
    width: 100%;
    @include tablet {
      padding: 0;
      height: auto;
    }
  }
}

//スリック矢印
.slick-prev:before, .slick-next:before {
  color: $dark-blue;
  font-size: 40px;
}
.slick-prev {
  left: -50px;
  z-index: 100;
}
.slick-next {
  right: -30px;
}