@import "../foundation/mixin";

.l-body {
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%;
  color: $gray;

  &__content-area {
    padding: 0 12.5vw;
    @include smart-phone {
      padding: 0 5.1282vw;
    }
  }
}

// フェードレイヤー
.l-body__fade-layer.active {
  position: absolute;
  z-index: 9;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  visibility: visible;
}